ul {
  list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 position: fixed;
 top: 0;
 width: 100%;
background-color: #F6F6F6;
}

.navigationalBarTop {
  padding: 0 15% 0;
}



li {
  float: right;
  padding: 16px;
  background-color: #F6F6F6;
  color: black;
}

.textCenter {
  text-align: center;
}

.links {
  padding: 0 10% 0;
}

.active {
  background-color: #800102;
}

li:hover {
  background-color: #800102;
  color: #fff;
}

body {
  background-image: linear-gradient(to right,black,black, #152D35 , #345B63, #345B63, #152D35 ,black,  black);
}

p {
  padding: 0 20% 0;
  color: #fff;
  line-height: 2;
}

h1 {
  font-size: 3rem;
}

.mainBody {
  background-color: grey;
  margin: auto;
}

.alignCenter {
  text-align: center;
}

.logoImage {
  height: 50px;
  margin: 0 0 0 0;
}

.topContainer {
  background-image: linear-gradient(to right,black,black, #152D35, #345B63 , #345B63 , #152D35 ,black,  black);
  text-align: center;
  margin: 70px 0 2%;
  padding: 0;
}
.logoText {
width: 25%;
padding: 5% 0 0 0;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 1.2s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 1.2s;
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 1.2s;
  padding: 16px;
}













/* MOBILE FIRST SECTION */
@media (max-width: 745px) {
  .mobileOnly {
    display: block;
  }

  .desktopOnly {
    display: none;
  }

  .topContainer {
    margin: 0;
  }

  .logoText {
    width: 35%;
    padding: 0;
  }
}

@media (min-width: 745px) {
  .mobileOnly {
    display: none;
  }

  .desktopOnly {
    display: block;
  }
}
